*{padding: 0%;
margin: 0%;
box-sizing: border-box;
}
body{
    background-color: black;
}

#input{
    cursor: pointer;
    margin: 12px;
    padding: 22px;
    size: 23px;
    border-radius: 8px;
    outline: none;
    border: 2px solid grey;
    font-size: xx-large;

    /* padding: ; */
}
#input :hover{
    color: rgb(66, 204, 66);
    background-color: hotpink;
}
.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}
.container .box{
    border: 2px solid black;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box{
    /* border: 2px solid grey; */
    display: flex;
    margin: 18px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;   
}
#result{
    font-size: xx-large;
    width: 347px;
    border: white;
    border:2px solid black;
    border-radius: 17px;
    outline: none;
}